.changelog
  - sorted_changelog_entries.each do |date, entries|
    %article
      %header
        %h1{ id: "changelog-#{date}" }= format_changelog_date(date)

      - changelog_entries_per_team(entries).each do |team, t_entries|
        %h2= team

        - changelog_entries_per_author(t_entries).each do |author, a_entries|
          %h3= author
          %ul
            - a_entries.each do |entry|
              %li
                - if entry['link'] && !entry['link'].empty?
                  = link_to(entry['description'], entry['link'])
                - else
                  = entry['description']
