%meta{ charset: 'utf-8' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

%link{ rel: 'icon', href: '/images/favicon.ico', type: 'image/x-icon' }

= stylesheet_link_tag(:all)

%title= config[:website_title]
